<div class="ui large inverted menu">
    <div class="ui container">
    <%= link_to "Sala de chat", root_path, class: "item" %>
    <a class="item">
        Mensajes
    </a>
    <div class="right menu">
        <div class="ui dropdown item">
        Cuenta <i class="dropdown icon"></i>
        <div class="menu">
            <a class="item">Cerrar sesión</a>
            <a class="item">Iniciar sesión</a>
            <%= link_to "Regístrate", login_path, class: "item" %>
        </div>
        </div>
        <div class="item">
            <div class="ui primary button">Regístrate</div>
        </div>
    </div>
    </div>     
</div>